<footer class="bottom-0 h-16 my-4">
  <p>&copy; 2026 Mutter. All Rights Reserved.</p>
  <div>
    <div>
      <a href="#" target="_blank" class="btn btn-primary">Discord</a>
      <a href="#" target="_blank" class="btn btn-primary">Twitch</a>
      <a href="#" target="_blank" class="btn btn-primary">Youtube</a>
      <a href="#" target="_blank" class="btn btn-primary">Twitter</a>
      <a href="#" target="_blank" class="btn btn-primary">Facebook</a>
    </div>
  </div>
</footer>