<h1>About Us</h1>

<h2>The Idea</h2>
<p>An idea you have muttered under your breath is just that. The same idea uttered by a collective can take form and become something more. A collective voice.</p>
